<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
</head>
<body>
<div class="position-absolute top-50 start-20 card" th:fragment="dodajCzlonka">
    <div class="container-fluid">
        <div class="row">
            <span>Dodaj członka rodziny:</span>
        </div>
        <div class="row">
            <button class="btn">współmałżonek</button>
        </div>

        <div class="row">
            <button class="btn">syn</button>
        </div>

        <div class="row">
            <button class="btn">córa</button>
        </div>

    </div>
</div>
</body>
</html>